<h1>Mandy, Assistante tout-terrain</h1>
  <a>Mandy, votre assistante tout-terrain (free-lance), vous seconde en intervenant ponctuellement ou régulièrement, à distance ou sur site*, en fonctions de vos besoins.
Vous êtes un professionnel (dirigeant, TPE/PME, commerçant, profession libérale, auto-entrepreneur, artisan...) :
- Vous connaissez un surcroît temporaire d'activité
- Vous manquez de temps pour gérer vos tâches liées à votre entreprise (administratives, commerciales, ressources humaines, gestion locative...)
- Votre assistant(e)/secrétaire est absent(e)
- Vous souhaitez développer votre activité
- Vous avez besoin de services sur-mesure
Déchargez-vous! Externalisez ces tâches en me les déléguant afin d'optimiser votre temps en vous concentrant sur votre activité pour la rendre plus performante. Je propose également un service de conciergerie pour répondre à tous types de demandes.
</a>
